[data-theme="dark"] {
  --main-color: #272b30;
  --seconde-color: #32383e;
  --color-text: #fff;
  --btn-main-color: #272729;
}

::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}

body {
  font-family: cursive;
  min-height: 100%;
  min-width: 100%;
  background-color: var(--main-color);
  color: var(--color-text);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text) !important;
  font-family: cursive;
}
a,
p,
span {
  color: inherit !important;
}
/*------------------------------------------------*/
header img {
  max-height: 30vh;
  object-fit: cover;
  width: 100%;
}
nav {
  background: rgb(58, 73, 123) !important;
  margin-inline: auto;
  margin-top: -30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.logo-img {
  max-width: 40px;
}
.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  color: #09c !important;
  transition: color 0.5s;
}
.home .card {
  filter: grayscale(0.7);
  transition: transform 0.5s, filter 0.5s 0.1s;
}
.home .card:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}
.badge-color {
  background-color: var(--seconde-color);
}
/* ---------------------------------------------------- */
.details {
  background-color: #272729be;
  min-height: 100vh;
}
/* ---------------------------------------------------- */
.loading {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: #272b30e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: relative;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
